/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #d3b25d;
}

/* NAV */
nav {
    background: #664a22;
    padding: 15px;
    text-align: center;
    width: 100vw;          /* Use viewport width */
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

nav a {
    color: rgb(0, 0, 0);
    margin: 0 110px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #9f4f09;
}

/* HOME */
.home {
    text-align: center;
    padding: 0px 20px 100px 20px;
}

.home h1 {
    font-size: 40px;
    margin-top: 100px;
}

.home p {
    font-size: 18px;
    color: #555;
}

/* PROFILE */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

.profile-container img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.profile-info {
    max-width: 400px;
}

.profile-info h2 {
    margin-bottom: 10px;
}

.profile-info ul {
    list-style-type: square;
}

/* PROJECTS */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.projects img {
    width: 300px;
    margin: 15px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.projects img:hover {
    transform: scale(1.05);
}

/* CONTACT */
h1 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px auto;
}

form input,
form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

form button:hover {
    background: #013032;
}

/* HEADINGS */
h1 {
    text-align: center;
    margin-top: 20px;
}

/* RESPONSE */
@media (max-width: 600px) {

    .profile-container {
        flex-direction: column;
        text-align: center;
    }

    .projects img {
        width: 100%;
    }

    form {
        width: 90%;
    }

    .home h1 {
        font-size: 28px;
    }
}